* { outline: none; }
html { 
	
	box-sizing: border-box; 
	font-size: 15px;
    background-image: url("./img/reaper.jpg");
    background-size: cover;
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    color: white;
}

.logo, h1,h2,h3,h4 {
    font-family: Impact;
    font-weight: normal;
    margin-top: 0px;
    color: white;
}

.logo {
    margin-bottom: 20px;
}

.logo span { color: red; text-transform: uppercase; }

body {
    background-color: rgba(0,0,0,0.90);
    margin: 0px;
    box-sizing: border-box;
    color: white;
}

.content {
    padding: 50px;
    width: 75%;
    box-sizing: border-box;
    margin: 0px auto;
    background-color: rgba(255,255,255,0.1);
    min-height: 100vh;
    position: relative;
}

.download {
    font-size: 30px;
    padding: 15px 40px;
    font-family: Impact;
    border-radius: 5px;
    border: 0px;
    background-color: darkorange;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.screenshots img {
    width: 100%;
    height: auto;
    margin-top: 15px;
}

.status {
    position: absolute;
    right: 40px;
    top: 50px;
    background-color: rgba(0,0,0,0.6);
    padding: 20px 25px;
    border-radius: 5px;
}

.status td:first-child {
    text-align: right;
    padding-right: 10px;
}

.green { color: lawngreen; }

.download:hover {
    background-color: orange;
}

.author {
    width: 100%;
    text-align: right;
    max-width: 345px;
    font-size: 10px;
    height: 0px;
    position: relative;
}
a,
a:active,
a:visited,
a:hover { color: blue; cursor: pointer; text-decoration: underline; }
textarea { 
	font-size: 10px; 
	width: 100%; 
	height: 60px; 
	border: 0px; 
	resize: none; 
	overflow: hidden; 
	white-space: nowrap;
	font-weight: bold;
	font-family: 'Ubuntu Mono', monospace;
}
.small {
    font-size: 6.35px;
    height: 40px;
}
.logo {
    font-size: 85px;
}

@media (max-width: 1024px) {
    .logo {
        font-size: 65px;
    }
}


@media (max-width: 800px) {
    .logo {
        font-size: 50px;
        margin-bottom: 20px;
    }
    .status {
        position: static;
        width: 100%;
        margin: 0px !important;
        margin-bottom: 20px !important;
    }
    .download {
        width: 100%;
        font-size: 23px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

h2 { text-transform: uppercase; }
.section { margin-bottom: 30px; }
.section:last-child { margin-bottom: 0px; }
.info { padding: 0px; max-width: 700px; }
.status {
	margin-left: 10px;
	margin-top: 10px;
	font-size: 11px;
}
.tab {
	display: inline-block;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	width: 10px;
	height: 10px;
	position: relative;
	top: -2px;
}
.trouble li { margin-bottom: 10px; }
.trouble li:last-child() { margin-bottom: 0px; }
.status span { text-transform: uppercase; color: green; }
.red { color: red; font-size: 11px; }
.warn { margin-bottom: 10px; }
.inline { display: inline-block; height: 0px; }
.warn .tab { top: -15px; position: relative; }